h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif  ;
}

h2 {
    color: #555;
    font-size: 1.5em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif  ;
}